//imports mixins to this scss file
@import "variables";
@import "mixins";
@import "_grid";

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: $accentFontColor;
}

/* Set global font style */
body {
    background-color: $bodyColor;   
    color: $primaryFontColor;
    font-family: "Raleway", sans-serif;
}

body,
html {
    margin: 0;
}

/* Set background image */
.background {
    background-image: url(../images/bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    
    display: block;
    position: fixed;
    
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Stylize start tag */
.timeline-start {
    color: $accentFontColor;
    display: inline-block;
    float: left;
}
