/* import normalize*/
@import "normalize.css";

/* Navigation Links*/
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Responsive images */
img {
    display: block;
    width: 100%;
}

/* Mobile Screens */
@media screen and (max-width: 500px) {
    .grid {
        display: grid;
        grid-template: auto;
        background-color: rgba(150,0,0,0.5);
        grid-gap: 10px;
    }
    
    .par {
        margin-top: 50px;
        text-align: justify !important;
        padding: 10px;
    }
}

/* Large Screens */
@media screen and (min-width: 500px) {

    /* Nav background image */
    .nav {
        background-image: url(../images/giraffe.jpg);
        background-size: 100%;
        background-origin: content;
        background-position: center center;
        background-repeat: no-repeat;
        grid-template-columns: auto auto auto;
    }
    
    .grid {
        display: grid;
        grid-template: auto auto auto;
        background-color: rgba(150,0,0,0.5);
        grid-gap: 10px;
    }
    
    .par {
        grid-column: 1/4;
        text-align: justify !important;
    }
}

/* Grid Item styling */
.grid-item {
    background-color: rgba(198, 122, 0, 0.5);
    border: 1px solid black;
    font-size: 24px;
    padding: 10px;
    color: white;
    text-align: center;
}